li {
  display: grid;
  align-items: flex-start;
  width: 80%;
  border-radius: 15px;
  background-color: rgb(20, 25, 45);
  color: rgb(240, 240, 240);
  padding: 0.5rem 0.9rem;
  margin: 0.3rem 0;
}
.todos-wrapper-content {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(20, 25, 45);
  color: rgb(240, 240, 240);
  padding: 0 0.9rem;
}
.todos-wrapper-content a {
  color: white;
  text-decoration: none;
}
.todos-wrapper-content .edit,
.todos-wrapper-content .delete {
  cursor: pointer;
}
.todos-wrapper-content .edit:hover,
.todos-wrapper-content .delete:hover {
  filter: brightness(130%);
}
.todos-wrapper-content .edit {
  margin-left: auto;
  margin-right: 1rem;
  color: rgb(204, 167, 255);
}
.todos-wrapper-content .delete {
  font-size: 22px;
  transform: scale(1.2, 0.8);
  color: rgb(225, 53, 53);
  margin-right: 0.6rem;
}
.todos-wrapper p {
  height: 0;
  margin: 0;
  padding: 0 0.9rem;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  text-align: left;
  text-transform: capitalize;
  font-size: 0.8em;
  color: rgb(206, 206, 206);
}
.todos-wrapper p.active {
  height: 30px;
  width: auto;
  padding: 0.5rem 0.9rem 0 0.9rem;
  border-top: 1px solid rgb(103, 95, 95);
}
